html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title first form
    body
        form(action="getSubmit" method="GET")
            input(type="text" name="first")
            br
            input(type="text" name="last")
            br
            input(type="submit")